Makefile*
object_script.*
*.pro.user

*.exe
*.log
*.aux
*.toc
*.out
*.pdf

*.exe
debug/
release/
dist/*.dmg
dist/*.sparseimage
ui/*.h
log/
ui_*.h
moc_*.cpp
moc_*.h
*.o

.qmake.stash
.qmake.cache
translations/qtmobility_untranslated.ts
translations/qtmobility_*.qm

*.pro.user*
