Makefile*
object_script.*
*.pro.user

*.exe
*.log
*.aux
*.toc
*.out
*.pdf

*.exe
debug/
release/
dist/*.dmg
dist/*.sparseimage
ui/*.h
log/
ui_*.h
moc_*.cpp
moc_*.h
*.o

.qmake.stash
.qmake.cache
translations/qtmobility_untranslated.ts
translations/qtmobility_*.qm

*.pro.user*
cmake.bat
build/ZERO_CHECK.vcxproj.user
build/ZERO_CHECK.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/x64/RelWithDebInfo/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/x64/RelWithDebInfo/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
build/x64/RelWithDebInfo/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
build/x64/RelWithDebInfo/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
build/x64/RelWithDebInfo/DwarfTherapist_automoc/DwarfThe.C7EC9071.tlog/DwarfTherapist_automoc.lastbuildstate
build/x64/RelWithDebInfo/DwarfTherapist_automoc/DwarfThe.C7EC9071.tlog/custombuild.write.1.tlog
build/x64/RelWithDebInfo/DwarfTherapist_automoc/DwarfThe.C7EC9071.tlog/custombuild.read.1.tlog
build/x64/RelWithDebInfo/DwarfTherapist_automoc/DwarfThe.C7EC9071.tlog/custombuild.command.1.tlog
build/qtcolorpicker.moc
build/PACKAGE.vcxproj.user
build/PACKAGE.vcxproj.filters
build/PACKAGE.vcxproj
build/INSTALL.vcxproj.user
build/INSTALL.vcxproj.filters
build/INSTALL.vcxproj
build/DwarfTherapist_automoc.vcxproj.user
build/DwarfTherapist_automoc.vcxproj.filters
build/DwarfTherapist_automoc.vcxproj
build/DwarfTherapist_automoc.cpp
build/DwarfTherapist.vcxproj.user
build/DwarfTherapist.vcxproj.filters
build/DwarfTherapist.vcxproj
build/DwarfTherapist.sln
build/DwarfTherapist.dir/RelWithDebInfo/vc140.pdb
build/DwarfTherapist.dir/RelWithDebInfo/DwarfTherapist.tlog/unsuccessfulbuild
build/DwarfTherapist.dir/RelWithDebInfo/DwarfTherapist.tlog/DwarfTherapist.lastbuildstate
build/DwarfTherapist.dir/RelWithDebInfo/DwarfTherapist.tlog/custombuild.write.1.tlog
build/DwarfTherapist.dir/RelWithDebInfo/DwarfTherapist.tlog/custombuild.read.1.tlog
build/DwarfTherapist.dir/RelWithDebInfo/DwarfTherapist.tlog/custombuild.command.1.tlog
build/CPackSourceConfig.cmake
build/CPackConfig.cmake
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/DwarfTherapist_automoc.dir/AutomocOldMocDefinitions.cmake
build/CMakeFiles/DwarfTherapist_automoc.dir/AutogenInfo.cmake
build/CMakeFiles/DwarfTherapist.dir/qrc_resources.cpp
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/aba01c8347d736b227d0585af636fc7f/PACKAGE_force.rule
build/CMakeFiles/aba01c8347d736b227d0585af636fc7f/INSTALL_force.rule
build/CMakeFiles/aba01c8347d736b227d0585af636fc7f/generate.stamp.rule
build/CMakeFiles/aba01c8347d736b227d0585af636fc7f/DwarfTherapist_automoc.rule
build/CMakeFiles/3.5.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.5.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.5.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.5.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.5.2/CMakeSystem.cmake
build/CMakeFiles/3.5.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.5.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.5.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.5.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.5.2/CMakeCCompiler.cmake
build/CMakeCache.txt
build/cmake_install.cmake
build/ALL_BUILD.vcxproj.user
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj
build/.vs/DwarfTherapist/v15/Solution.VC.db-wal
build/.vs/DwarfTherapist/v15/Solution.VC.db-shm
build/.vs/DwarfTherapist/v15/Solution.VC.db
build/.vs/DwarfTherapist/v15/ipch/AutoPCH/d01fb976a647ba53/GAMEDATAREADER.ipch
build/.vs/DwarfTherapist/v15/ipch/AutoPCH/be79f44443f72840/HAPPINESSCOLUMN.ipch
build/.vs/DwarfTherapist/v15/ipch/AutoPCH/992bec48905ae05e/OPTIONSMENU.ipch
build/.vs/DwarfTherapist/v15/ipch/AutoPCH/789bab7a5414e14b/DWARF.ipch
build/.vs/DwarfTherapist/v15/ipch/AutoPCH/72e458b6729b5368/STANDARDPATHS.ipch
build/.vs/DwarfTherapist/v15/ipch/AutoPCH/5dea43d44990e646/GAMEDATAREADER.ipch
build/.vs/DwarfTherapist/v15/ipch/AutoPCH/247e6e3b65abb070/ABOUTDIALOG.ipch
build/.vs/DwarfTherapist/v15/Browse.VC.opendb
build/.vs/DwarfTherapist/v15/Browse.VC.db
build/.vs/DwarfTherapist/v15/.suo
build/.vs/config/applicationhost.config
*.obj
*.ipch
*.tlog
*.ilk
*.pdb
*.res
