Makefile*
object_script.*

*.exe
debug/*
release/*
ui/*.h
log/*
img/icons/*
ui_*.h
moc_*.cpp
moc_*.h
*.o

.qmake.stash
.qmake.cache
translations/qtmobility_untranslated.ts
translations/qtmobility_*.qm
 
#Symbian specific
*.mmp
*.pkg
bld.inf*
ABLD.BAT
*.mk
*.rss
*.sis
*.loc
*.sisx
.make.cache
qmakepluginstubs
 
#Carbide project files
*.project
*.cproject
*.settings
plugin_commonU.def
 
#Visual Studio files
*.sln
*.vcproj
*.suo
*.ncb
*.user
 
#QtCreator project files
*.pro.user
=======
*.pro.user*
*~
 
#Failed patch
*.orig
*.rej

#Windows Specific
*.exe
*.dll
Thumbs.db
desktop.ini

#OSX
.DS_Store